.dialogItems {
    color: cadetblue;
    display: flex;
    padding: 15px;
    flex-grow: 1;

    .dialogItemsAvatar{
        background-image: url(./../../img/avatar.svg);
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .dialogItemsText {
        flex-grow: 1;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px;
        height: 35px;
        max-width: 50%;
    }
}