.wrapper {
  display: flex;
  flex-direction: column;
  width: 180px;


  .sidebar{
    background-color: beige;
    flex-grow: 1;
  
 
    ul > li {
      list-style-type: none;
    }

  }

  .friends {

    background-color: rgb(98, 176, 150);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      width: 100%;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .bgimg{
      background-image: url(./img/bg.svg);
      height: 200px;
    }

    .posts{
      background-color: cadetblue;
      padding: 20px; 
    }

  }

}