.message {
    display: flex;
    flex-grow: 1;

    .dialogs {
        flex-grow: 1;
    }

    .dialogList {
        width: 100px;

        ul>li {
            list-style-type: none;
        }
    }
}